datasets/fec/*.csv filter=lfs diff=lfs merge=lfs -text
datasets/P*.csv filter=lfs diff=lfs merge=lfs -text
datasets/haiti/P*.csv filter=lfs diff=lfs merge=lfs -text
datasets/bitly_usagov/P*.csv filter=lfs diff=lfs merge=lfs -text
